* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: hsl(344.6, 100%, 13.7%);
  font-family: "Montserrat", sans-serif;
}

body {
    background-color: hsla(314.3, 57.5%, 71.4%, 0.7)
}

form {
    background-color: hsla(62, 100%, 92.5%, 0.7);
    display: grid;
    grid-template-rows: auto, auto, auto, auto;

    & label {
        margin-bottom: 8px;
    }

    &[type="text"] {
        grid-row: 1;
    }

    &[type="email"] {
        grid-row: 2;
    }

    &[type="tel"] {
        grid-row: 3;
    }

    & button {
        grid-row: 4;
        margin: 1em auto 0 auto;
        padding: 8px;
        border: none;
        background-color: hsl(349.3, 100%, 91.2%);
    }
}
